.header{
    margin: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.boxes {
 
}
.box1 {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border:2px solid black;
    background-color: red;
}
.box1Change 
{
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border: 8px solid indigo;
    background-color: yellowgreen;
}

.box2 {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border:2px dashed yellow;
    background-color: blue;
}    
    .box2Change {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border: 5px inset gray;
    background-color: white;
}
.box3 {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border:2px solid purple;
    background-color: green;
    }
    .box3Change {
        margin-left: 50px;
        margin-right: 50px;
        height: 200px;
        width: 200px;
        border: 2px dotted tomato;
        background-color: teal;
    }           
.changeLabels {
    text-decoration: underline ;
    margin:50px;
    text-align: center;
    color: blue;
}
.button {
    text-align: center;
    padding: 10px;
    background-color: gray;
   
}
.col-3{
    text-align: center;
    margin-top: 20px;
}

.resets { 
.box1 {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border:2px solid black;
    background-color: red;
}
.box2 {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border:2px dashed yellow;
    background-color: blue;
    )
    .box3 {
        margin-left: 50px;
        margin-right: 50px;
        height: 200px;
        width: 200px;
        border:2px solid purple;
        background-color: green;
        }
    }